.container {
    width: 100%;
    padding: 0 2rem;
}

.builder {
    width: 100%;
    min-height: 20rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
    margin: 1rem 0;
}

.export-code {
    width: 100%;
    border-radius: .5rem;
    background-color: #4e4ef3;
    padding: 1rem;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    border: none;
}