.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.editor-tools {
    position: fixed;
     width: calc(100% - 2rem);
     top: 1rem;
     left: 1rem;
     min-height: 2rem;
     backdrop-filter: blur(4rem);
     box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
     display: flex;
     justify-content: space-between;
     padding: 1rem 1.5rem;
     align-items: center;
     border-radius: 10px;
     margin-bottom: 4rem;
}

.editor-tools > h3 {
    margin: 0;
    padding: 0;
}

.sequence-button {
    border: none;
    border-radius: 100px;
    padding: .5rem 2rem;   
    background: #f54fd4;  /* fallback for old browsers */
    color: white;   
}

.sequence-button:hover {
    background: #db31b9;  /* fallback for old browsers */
}

.edit-button {
    border: none;
    border-radius: 100px;
    padding: .5rem 2rem;   
    background: #4e4ef3;  /* fallback for old browsers */
    color: white;
    margin-left: .7rem;
}

.edit-button:hover { 
    background: #2727cf;  /* fallback for old browsers */
}

.connect-metamask {
    color: #4e4ef3;
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: .7rem;
    border: none;
    border-radius: 100px;
    padding: .5rem 1.5rem;   
    border: 2px solid #4e4ef3;  /* fallback for old browsers */
}

.connect-metamask:hover {
    color: white;
    background: #4e4ef3;  /* fallback for old browsers */
}

.buttons {
    display: flex;
}

.edit-icon {
    display: none;
}

.menu-icon {
    display: none;
}

.mobile-menu {
    position: absolute;
    margin: 1rem;
    padding: 1.5rem;
    right: -1rem;
    top: 1rem;
    text-align: left;
    background-color: white;
    z-index: 55;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border-radius: 10px;
}

.mobile-menu p {
    margin: 0;
}

.mobile-sequence-button {
    position: fixed;
    bottom: 1rem;
    display: none;
    border: none;
    border-radius: 100px;
    padding: 1rem 2rem;   
    background: #f54fd4;  /* fallback for old browsers */
    color: white;   
}

.mobile-sequence-button:hover {
    background: #db31b9;  /* fallback for old browsers */
}

@media (max-width: 700px) {
    .edit-icon {
        display: flex;
        align-items: center;
    }
    .edit-button {
        display: none;
    }
    .sequence-button {
        display: none;
    }
    .blocks-panel {
        display: none;
    }
    .menu-icon {
        position: relative;
        margin-left: .6rem;
        display: flex;
        align-items: center;
    }
    .mobile-sequence-button {
        display: block;
    }
  }

  .component-container {
    width: 3rem;
    height: 3rem;
    margin-left: 2rem;
}

.block-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}
